<p style="color: #000000; font-size: 14px; line-height: 16px; font-family: arial, helvetica, sans-serif;">
    Please follow the link to complete your Alberta COVID-19 Border Testing Pilot Program application. {{applicationLink}}
</p>
